*{
    overflow-X:hidden;
    font-family:Arial, Helvetica, sans-serif
}
:root{
    --color0:white;
    --color1:rgb(206, 203, 203 );
    --color2:rgb(45, 44, 44);
    --color3:black;
}
.page1{
    height:100vh;
    width:100%;
    background-color:var(--color1);
    z-index: -10;
    overflow-y: hidden;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:15vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    background-color:rgb(206, 203, 203,0.2 );;
    position:fixed;
    top:0;
    z-index: 10;
    color: var(--color3);
    

}
nav div{
    font-size: 18px;
}
nav .right{
    display:flex;
    gap:30px;
    margin-right: 0px;
}
nav .right button{
    background-color:transparent;
    border:none;
    font-size: 18px;
}

nav .mid{
    font-size: 20px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    mix-blend-mode: difference;
}
.toggle{
    height:20px;
    width:40px;
    background-color: var(--color2);
    border-radius:70px;
    display:flex;
    align-items: center;
    justify-content: start;
    transition: all 1s;
}
.ball{
    height:15px;
    width:15px;
    border-radius:50%;
    background-color: var(--color0);
    position: relative;
    left:2.5px;
    
}
.move0{
    position: relative;
    transform: translate(20px);
    transition: 0.4s;
    
}
.move1{
    position: relative;
    transform: translate(20px);
    transition: 0.4s;
    
}
/*the nave bar is done*/
.content{
    background-color:transparent;
    margin:20vh 6vh;
    width:90vw;
    font-size: 110px;
    padding:0px;
    display:flex;
    overflow-y: hidden;
    color:var(--color3);

}
.content .line2{
margin-left: 0vw;
position: relative;
z-index: 1;
}
.content .line3{
    margin-left: 10vw;
    position: relative;
    z-index: 1;
   

} 

.action{
    height:20vh;
}
.action button{
    padding:20px 50px;
    border-radius: 30% 10%;
    font-size: 20px;
    color:var(--color0); 
    background-color: var(--color2);
    border:none;
}
.action button:hover{
    color: var(--color3);
    background-color: var(--color1);
    border:1px solid black;
    cursor:pointer;
    transform:translateY(3px);
     transition: 0.6s;
}
.action .play{
    border-radius: 50%;
    padding:20px;

}
.photo{ 
    height:500px ;
    width:500px;
    position: absolute;
    right:40px;
    z-index: 0;
    overflow-y: hidden;
    padding:2px;
    background-color: gray;
    border-radius: 50%;
}
.photo img{
height:100%;
width:100%;
object-fit: cover;
transform: scaleX(-1);
filter:grayscale(100);

}
.photo:hover{
    transform:scale(1.05);
    transition:0.5s
}

.bottom{
    margin: 0px;
    background-color:var(--color2);
    height:20vh;
}
/*landing page is done guys*/
.page2{
    background-color: var(--color2);
    min-height:200vh;
    
}
.page2 h2{
    font-size: 50px;
    padding: 2px 80px;
    color: var(--color0);
}
.pro1{
    height:80vh;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.pro1 div{
     height:80%;
    width: 40%;
}
.pro1 .box1 , .pro1 .box2 ,.pro1 .box3{
  box-shadow: 2px 5px 7px black; 
   overflow-y: hidden; 
}
.pro1 .box1 .img{
    height:100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    background-image: url("pro1.jpg");
    
}
.pro1 .box2 .img2{
    height:100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    background-image: url("pro2.png");
    background-size: 800px;
    background-position-x: center;
    
}
.pro1 .box3 .img3{
    height:100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    background-image: url("pro3.png");
    background-size: 800px;
    background-position:20px 400px ;
    
}
.box1 button , .box2 button , .box3 button{
    display:none;
}
.pro1 .box1 .btn1, .box2 .btn1, .box3 .btn1{
    position: relative;
    z-index: 2;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    top:-50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    background-color: white;
    transition: all linear 2s;

}

.pro1 .write{
    font-size: 30px;
    color: rgb(206, 203, 203 );
    overflow-y: hidden;
}
.write h1{
    font-size: 40px;
    text-transform: uppercase;
}
